@using WebApp.Common
@{
    ViewData["Title"] = "Index";
}
@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>    
    <script type="text/javascript">
        
        $(document).ready(() => {

            var connection = new signalR.HubConnectionBuilder().withUrl("/NotificationHub").build();
            connection.start().then(function () {
                console.log("Hub Connection ID :"+connection.connectionId);
            }).catch(function (err) {
                return console.error(err.toString());
            });

            var pictures = new Array();
            var UserId = "@ViewBag.UserId";
            var City = "@ViewBag.City";
            $("#images img").click(function () {
                $(this).css("border", "2px solid red");
                pictures.push($(this).data("name"));
                console.log(pictures);
            });
            $("#AddWatermark").click(function () {
                let pictureWaterMarkQueue = { // let means local variable only available in this scope
                    "UserID": UserId,
                    "City": City,
                    "Pictures": pictures,
                    "ConnectionID": connection.connectionId,
                    "WatermarkText": $("#watermarkText").val()
                };
                $.post("/Pictures/AddWatermark", pictureWaterMarkQueue, function (data) {                                      
                    alert("Watermark added successfully");                    
                });
            });
        });

    </script>
}

<h1>Index</h1>
@{
    var message = TempData.Get<NotificationViewModel>("message");
if (message != null)
    {
            <div class="alert @message.CssClass alert-dismissible fade show" role="alert">
                <strong>@message.Title</strong> @message.Message
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    }
}
    <div class="row">
        <div class="col-8 offset-2">
            <form class="form-check-inline" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">File</label>
                <input type="file" class="form-control-file" id="file" name="pictures" multiple />
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
            <div class="form-check-inline">
                <input type="text" id="watermarkText"/>
                <button type="button" class="btn btn-primary" id="AddWatermark">Add Watermark</button>
            </div>
        </div>
    </div>
<div id="images">
    @if(ViewBag.paths != null)
    {
        @foreach (var item in ViewBag.paths as List<FileBlobViewModel>)
        {
            <img style="width:330px" data-name="@item.blobName" src="@item.blobURL" />
        }
    }    
</div>